footer {
    min-width: 100%;
    padding: .5rem 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 2px solid var(--color-text);
}

.footer__section {
    margin: 1rem;
    min-width: 30%;

    text-align: start;

    &:nth-child(1),
    &:nth-child(2) {
        border-right: 2px solid var(--color-text-secondary);
    }
}

.footer__section ul li {
    width: max-content;
    padding-right: 0;
}

.social li a {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: .5rem;

    font-weight: 600;
    color: var(--color-text-secondary);
}

.social li a:hover { 
    color: var(--color-text);
}
.social li a:hover > .icon {
    filter: brightness(1.2);
    animation: bounce .4s ease;
}