:root {
    --color-header-bg: hsl(0, 0%, 100%, .8);
}

[data-theme="dark"] {
    --color-header-bg: hsl(215, 28%, 17%, .8);
}

header {
    min-width: 100%;
    padding: .5rem 1rem;

    display: grid;
    grid-template: 'header header' 'filters filters';
    gap: .8rem;
    background-color: var(--color-header-bg);
    backdrop-filter: blur(2px);
    border-bottom: 2px solid var(--color-text);

    position: sticky;
    top: 0;
    z-index: 1;
}

.header__main {
    grid-area: header;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters {
    grid-area: filters;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header .icon:not(button svg) {
    width: 2rem;
    height: 2rem;
    color: var(--color-primary, currentColor);
}

.title {
    padding: 4px;

    font-size: 1.2rem;
    font-weight: 900;

    background: var(--color-bg-secondary);
    border-radius: 10px;

    h1, span {
        margin: 0;
    }

    span {
        padding: 4px;
        
        color: var(--color-text-secondary);
        background: var(--color-accent);
        border-radius: 10px;
    }
}

.header__section {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.search {
    position: relative;
}

.search button {
    all: initial;
    position: absolute;
    right: 4px;
    top: 0;
    cursor: pointer;

    &:hover {
        background: none;
        box-shadow: none;
    }
}

.header__section nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: .8rem;
}